<label for="spa-search">Enter all of your courses:</label>
<input id="spa-search" type="text" name="add_course" style="width: 60%;" placeholder="Course title or code" autofocus />

<div class="solution" style="/*display: none;*/">
  <hr />

  <p style="float: left;">
    <span>Week beginning: <span id="tt-week-start"></span> [<span id="tt-week-code"></span>]</span>
    <a href="#" class="tt-jump" id="tt-jump-prev">Previous</a>
    <a href="#" class="tt-jump" id="tt-jump-next">Next</a>
  </p>
  <p style="float: right;">Jump to start:
    <a href="#" class="tt-jump" id="tt-jump-sem1">Semester 1</a>
    <a href="#" class="tt-jump" id="tt-jump-sem2">Semester 2</a>
  </p>

  <table class="tt" border="1">
    <tr>
      <th></th>
      <th class="tt-day">Monday</th>
      <th class="tt-day">Tuesday</th>
      <th class="tt-day">Wednesday</th>
      <th class="tt-day">Thursday</th>
      <th class="tt-day">Friday</th>
    </tr>

    <% (9..17).each do |hour| %>
    <tr class="tt-hour-row" data-hour="<%= hour %>">
      <th>
        <%= (hour).to_s.rjust(2, "0") %>:00 - <%= hour+1 %>:00
      </th>
      <% (0..4).each do |day| %>
      <td class="tt-cell" data-day="<%= day %>" data-hour="<%= hour %>"></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <p>
    Course choices:
    <pre id="solution-printout">
    </pre>
  </p>
</div>

<div class="no-solution" style="display: none;">
  <hr />

  <p>No solution found :(</p>
  <p>Try removing some classes or constraints</p>
</div>
