<p><a href="/old">Return to class selection</a></p>

<% if @solution %>

<p style="float: left;">
  <span>Week beginning: <%= @weekstart.to_s %> [<%= @weekcode %>]</span>
  <a href="?week=<%= @weekcode - 1 %>">Previous</a>
  <a href="?week=<%= @weekcode + 1 %>">Next</a>
</p>
<p style="float: right;">Jump to start:
  <a href="?week=1" >Semester 1</a>
  <a href="?week=17">Semester 2</a>
</p>


<pre>
<%= @weekevents.inspect %>
</pre>
<table class="tt" border="1">
  <tr>
    <th></th>
    <th class="tt-day">Monday</th>
    <th class="tt-day">Tuesday</th>
    <th class="tt-day">Wednesday</th>
    <th class="tt-day">Thursday</th>
    <th class="tt-day">Friday</th>
  </tr>

  <% @weekevents.transpose.each_with_index do |hourevents, i| %>
  <tr>
    <th><%= (i+9).to_s.rjust(2, "0") %>:00 - <%= i+10 %>:00</th>
    <% hourevents.each_with_index do |event, j| %>
    <% if (event and event[-1] != :continued) or !event %>


    <td class="tt-cell <%= "tt-blocked" if @problem.ban_times[j+1].include?(i+9) %> <%= "tt-event" if event %>" rowspan="<%= event ? event[2] : 1 %>">
      <% if event %>
      <%= event[0..1].join(': ') %><br/>
      <%= Course.hash[event[0]].title %>
      <% end %>
    </td>

    <% end %>
    <% end %>
  </tr>
  <% end %>
</table>


<p>
  Course choices:
  <pre><%= @problem.print(@solution) %></pre>
</p>

<% else %>

<p>No solution found :(</p>
<p>Try removing some classes or constraints</p>

<% end %>
